body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .shadow {
    position: absolute;
    width: 200vw;
    height: 200vh;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: radial-gradient(circle at center, transparent, #000 20%);
  }